asttokens==2.2.1
backcall==0.2.0
colorthief==0.2.1
comm==0.1.4
darkdetect==0.8.0
debugpy==1.6.7.post1
executing==1.2.0
ipykernel==6.25.1
ipython==8.14.0
jedi==0.19.0
jupyter_client==8.3.0
jupyter_core==5.3.1
matplotlib-inline==0.1.6
nest-asyncio==1.5.7
numpy==1.26.4
parso==0.8.3
pickleshare==0.7.5
pillow==10.3.0
prompt-toolkit==3.0.39
psutil==5.9.8
pure-eval==0.2.2
Pygments==2.16.1
pynput==1.7.6
PySide6==6.6.3.1
PySide6-Fluent-Widgets==1.5.4
PySide6_Addons==6.6.3.1
PySide6_Essentials==6.6.3.1
PySideSix-Frameless-Window==0.3.12
pywin32==306
pyzmq==25.1.1
scipy==1.12.0
shiboken6==6.6.3.1
six==1.16.0
stack-data==0.6.2
tornado==6.3.3
traitlets==5.9.0
wcwidth==0.2.6
win11toast==0.34
winsdk==1.0.0b10
